<div class='container-fluid'>
  <%= link_to root_path do %>
    <div class='col-md-2'>
      <%= image_tag 'home/GPEI_logo_b-w.png', width:'75%', height:'75%', class: 'image-responsive', alt: 'GPEI Toolkit' %>
      <%= image_tag 'home/GPEI_logo_b-w.png', width:'75%', height:'75%',class: 'image-responsive', alt: 'SOP' %>
    </div>
  <% end %>
  <div class='col-md-2 col-md-offset-8 text-right'>
      My Rhizome
  </div>
</div>