<script type="text/javascript">$('#application').css({ background: 'none' })</script>
<div class='col-md-11' style='padding-left:10px'>
  Welcome, <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>!
</div>
<div id='cms_log_out_div' class='col-md-1'><a id="nav_user_sign_out" class="" href=''><u>Sign out</u></a></div>
<div id='progress_spinner' style='visibility:hidden;'>
  <i class="fa fa-cog fa-spin fa-fw" style="font-size:96px;"></i>
</div>
<div class='col-md-3 black_text'>
  <div id="CMS_items" class="ui styled accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      <a id='CMS_users_link' href='' class='CMS_menu_list'>
        Users
      </a>
    </div>
    <div class="content">
      <div class="title">
        <a id='CMS_create_user_link' href='' class='CMS_menu_list'>Create new user</a>
      </div>
      <div class="title">
        <a id='CMS_user_feedback_index' href='' class=''>View user feedback</a>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Content
    </div>
    <div class="content">
      <div class="accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          <a id='CMS_sop_articles_link' href='' class='CMS_menu_list'>
            SOP Articles
          </a>
        </div>
        <div class="content">
          <div class="title">
            <a id='CMS_create_sop_article_link' href='' class='CMS_menu_list'>Create new article</a>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          <a id='CMS_c4d_articles_link' href='' class='CMS_menu_list'>
            C4D Articles
          </a>
        </div>
        <div class="content">
          <div class="title">
            <a id='CMS_create_c4d_article_link' href='' class='CMS_menu_list'>Create new article</a>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          <a id='CMS_assets_link' href='' class='CMS_menu_list'>
            Assets
          </a>
        </div>
        <div class="content">
          <div class="accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              <a id='CMS_featured_reference_links' href='' class='CMS_menu_list'>Featured Reference Links - (.pdf's)</a>
            </div>
            <div class="content">
              <div class="title">
                <a id='CMS_featured_reference_links_select' href='' class='CMS_menu_list'>Select featured reference links - (.pdf's)</a>
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              <a id='CMS_references_link' href='' class='CMS_menu_list'>Reference Links - (.pdf's)</a>
            </div>
            <div class="content">
              <div class="title">
                <a id='CMS_references_link_upload' href='' class='CMS_menu_list'>upload .pdf(s) as reference link(s)</a>
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              <a id='CMS_references_mp3' href='' class='CMS_menu_list'>Reference Mp3s - (.mp3's)</a>
            </div>
            <div class="content">
              <div class="title">
                <a id='CMS_references_mp3_upload' href='' class='CMS_menu_list'>SOP only - upload .mp3(s) as reference mp3(s)</a>
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              <a id='CMS_references_pptx' href='' class='CMS_menu_list'>Reference Pptxes - (.pptx's)</a>
            </div>
            <div class="content">
              <div class="title">
                <a id='CMS_references_pptx_upload' href='' class='CMS_menu_list'>SOP only - upload .pptx(es) as reference pptx(es)</a>
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              <a id='CMS_embedded_images_link' href='' class='CMS_menu_list'>Attached Images</a>
            </div>
            <div class="content">
              <div class="title">
                <a id='CMS_embedded_images_link_upload' href='' class='CMS_menu_list'>Attach image to c4d article</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          <a id='CMS_notifications' href='' class='CMS_menu_list'>
            Notifications
          </a>
        </div>
        <div class="content">
          <div class="title">
            <a id='CMS_create_notifications' href='' class='CMS_menu_list'>Create new notification</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='CMS_index_content' class='col-md-9 black_text'>
</div>
<div id="CMS_modal" class="ui large modal">
  <div id="CMS_modal_header" class="header"></div>
  <div id="CMS_modal_content" class="content">
  </div>
</div>
<div class="ui dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">
          Content Saved!
        </h2>
      </div>
    </div>
  </div>