<div class='col-md-3 black_text'>
  <div id="CMS_items" class="ui styled accordion">
    <div class="title">
      <a id='CMS_users_link' href=''>Users</a>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Content
    </div>
    <div class="content">
      <div class="title">
        <a href='' onclick='return false;'>SOP</a>
      </div>
      <div class="title">
        <a href='' onclick='return false;'>C4D</a>
      </div>
    </div>
  </div>
</div>
<div id='CMS_index_content' class='col-md-9 black_text'>

</div>
<div id="CMS_modal" class="ui modal">
  <div class="header"></div>
  <div class="content">
  </div>
</div>