<div class='col-md-2 black_text'>
  <div id="CMS_items" class="ui styled accordion">
    <div class="title">
      <a id='CMS_users_link' href='' class='CMS_menu_list'>
        <i class="dropdown icon"></i>
        Users
      </a>
    </div>
    <div class="content">
      <div class="title">
        <a id='CMS_create_user_link' href='' class='CMS_menu_list'>Create</a>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Content
    </div>
    <div class="content">
      <div class="accordion">
        <div class="title">
          <a id='CMS_sop_articles_link' href='' class='CMS_menu_list'>
            <i class="dropdown icon"></i>
            SOP
          </a>
        </div>
        <div class="content">
          <div class="title">
            <a id='CMS_create_sop_article_link' href='' class='CMS_menu_list'>Create</a>
          </div>
        </div>
      </div>
      <div class="title">
        <a id='CMS_c4d_articles_link' href='' class='CMS_menu_list'>
        C4D
        </a>
      </div>
    </div>
  </div>
</div>
<div id='CMS_index_content' class='col-md-10 black_text'>

</div>
<div id="CMS_modal" class="ui modal">
  <div id="CMS_modal_header" class="header"></div>
  <div id="CMS_modal_content" class="content">
  </div>
</div>
<div class="ui dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">
          Content Saved!
        </h2>
      </div>
    </div>
  </div>