<div id="c4d_selection_page" class="col-md-12 landing">
  <a href='/c4d/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:#35848C'>
    <div id='c4d_category_title_div' class='col-md-12'>Design Communication Strategy</div>
    <div id='c4d_right_angle_div' class='col-md-1 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-8'></div>
  </div>
  </a>
  <a href='/library/?category=sop'>
  <div id='c4d_category_div' class='col-md-6' style='background:rgba(144, 73, 65, 0.8) !important;'>
    <div id='c4d_category_title_div' class='col-md-12'>Access Documents for Outbreak Response</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-9'></div>
  </div>
  </a>
  <a href='/library/?category=tags&tag=Training'>
  <div id='c4d_category_div' class='col-md-6' style='background:rgba(19, 153, 222, 0.8) !important'>
    <div id='c4d_category_title_div' class='col-md-12'>Browse Capacity Development Tools</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-8'></div>
  </div>
  </a>
  <a href='/c4d/immunization/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[4].color if @c4d_categories %>'>
    <div id='c4d_category_title_div' class='col-md-12'>Use Social Data for Immunization</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-6'></div>
  </div>
  </a>
  <a href='/library/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[3].color if @c4d_categories %>'>
    <div id='c4d_category_title_div' class='col-md-12'>Quick Access to Library</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-8'></div>
  </div>
  </a>
  <%= render 'footer/index' %>
</div>