<%= render 'dashboard/nav' %>
<div id='landing_page_container' class='container fill'>
  <div id='logo_container' class='text-center'>
    <div id='landing_logo'>
      <%= image_tag "home/gpei_logo_white_orange.png", width: '18%', height: '18%', alt: 'GPEI' %>
    </div>
    <div class='row'>
      &nbsp;
    </div>
    <div id='landing_logo_text'>
      Rhizome is a collection of guidance and tools from the GPEI to help you eradicate polio.
    </div>
    <div id='landing_scroll_begin_container'>
      <div id='landing_scroll_begin_text'>
        CLICK TO BEGIN
      </div>
      <a id='link_to_second_part_of_landing' href='#landing_page_second_container'><i id='landing_scroll_down_angle' class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>