<%= render 'dashboard/nav' %>
<div id='landing_page_container' class='container fill'>
  <div id='logo_container' class='text-center'>
    <div id='landing_logo'>
      <%= image_tag "home/gpei_logo_white_orange.png", width: '18%', height: '18%', alt: 'GPEI' %>
    </div>
    <div class='row'>
      &nbsp;
    </div>
    <div id='landing_logo_text'>
      Rhizome is a collection of guidance and tools from the GPEI to help you eradicate polio.
    </div>
    <div id='landing_scroll_begin_container'>
      <div id='landing_scroll_begin_text'>
        CLICK TO BEGIN
      </div>
      <a id='link_to_second_part_of_landing' href='#landing_page_second_container'><i id='landing_scroll_down_angle' class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div style='display:none' id="landing_page_sop_c4d_nav_container" class='container fill'>
  <div id='sop_c4d_nav_content_container' class='col-md-offset-3 col-md-6'>
    <div id="landing_sop_container_header" class='row'>
      &nbsp;&nbsp;&nbsp;RESPOND TO AN OUTBREAK
    </div>
    <div id="landing_sop_container_content" class='row'>
      <div id='sop_c4d_landing_title_span'>&nbsp;&nbsp;SOP</div>
      <a id="landing_sop_c4d_angle_right" href='/sop/'><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div id='sop_c4d_landing_description_span'>OUTBREAK RESPONSE STANDARD OPERATING PROCEDURES</div>
    </div>
    <div id="landing_c4d_container_header" class='row'>
      &nbsp;&nbsp;&nbsp;COMMUNICATE EFFECTIVELY
    </div>
    <div id="landing_c4d_container_content" class='row'>
      <div id='sop_c4d_landing_title_span'>&nbsp;&nbsp;C4D</div>
      <a id="landing_sop_c4d_angle_right" href='/c4d/'><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div id='sop_c4d_landing_description_span'>COMMUNICATION FOR DEVELOPMENT</div>
    </div>
  </div>
</div>

<div id="home_modal" class="ui modal">
  <div id="home_modal_header" class="header"></div>
  <div id="home_modal_content" class="content">
  </div>
</div>
