<!DOCTYPE html>
<html lang='en'>
<head>
  <title>GPEI Toolkit</title>
</head>
<body style='background-color:black;'>
  <div class='container-fluid'>
    <div id='logo' class='row'>
        <%= image_tag 'home/GPEI_logo_b-w.png', class: 'image-responsive center-block' %>
    </div>
    <div id='sop_logo' class='row'>
      <div class='col-xs-6'>
        <%= image_tag 'home/GPEI_logo_b-w.png', class: 'img-lg' %>
      </div>
      <div id='c4d_logo' class='col-xs-6'>
        <%= image_tag 'home/GPEI_logo_b-w.png', class: 'img-lg' %>
      </div>
    </div>
  </div>
</body>
</html>