<div id='browse_sort_wrapper' class='col-md-2'>
  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      <span id='sort_browsing_dropdown_header'>SORT BROWSING</span>
      <i class="dropdown icon"></i>
      <div id='browse_sort_radio_div' class="menu">
        <div class="field item">
          <div class="ui radio checkbox">
            <input type="radio" name="sort_browsing" data-filter='title'>
            <label>Title</label>
          </div>
        </div>
        <div class="field item">
          <div class="ui radio checkbox">
            <input type="radio" name="sort_browsing" data-filter='download'>
            <label>Downloads</label>
          </div>
        </div>
        <div class="field item">
          <div class="ui radio checkbox">
            <input type="radio" name="sort_browsing" data-filter='like'>
            <label>Most liked</label>
          </div>
        </div>
        <div class="field item">
          <div class="ui radio checkbox">
            <input type="radio" name="sort_browsing" data-filter='created'>
            <label>Date uploaded</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>