<table id='library_browse_datatable'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id='c4d_content_grid_cell' class='content_grid_cell'>
        <div id='c4d_content_grid_cell_label'>
          C4D
        </div>
      </td>
      <td> </td>
      <td id='sop_content_grid_cell' class='content_grid_cell'>
        <div id='sop_content_grid_cell_label'>
          SOP
        </div>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td id='tags_content_grid_cell' class='content_grid_cell'>
        <div id='tags_content_grid_cell_label'>
          Tags
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
          <!-- <#%= render 'library/browse_filter' %> -->