<%= render 'dashboard/nav' %>
<div id='library' class='col-md-12'>
  <div id='library_logo_wrapper'>
    <div id='library_logo' class='col-md-12'>
    picture asdadadsadadadasdadadadadas
    </div>
  </div>
  <div id='library_content_wrapper'>
    <div id='library_content' class='col-md-12'/>
    content
    </div>
  </div>
</div>
