<%= render 'dashboard/nav' %>
<div id='c4d_selection_page' class='col-md-12'>
  <div class='col-md-12'>
    <div id='c4d_image_div'><img src="/assets/headers/act-crop-UNI42358.jpg" class='img-responsive'></div>
    <div id='c4d_image_title' class='col-md-7'>Act</div>
    <div id='c4d_image_description' class='col-md-7'>Integrate communications tactics and understand their strengths and weaknesses, then evaluate performance</div>
  </div>
  <%= render 'c4d/category_index' %>
  <%= render 'footer/index' %>
</div>