<%= render 'dashboard/nav' %>
<div id="c4d_selection_page" class='col-md-12'>
  <div class='col-md-12'>
    <div id='c4d_image_div'><img src="/assets/headers/plan-cropUNI47229.jpg" class='img-responsive'></div>
    <div id='c4d_image_title' class='col-md-7'>Plan</div>
    <div id='c4d_image_description' class='col-md-7'>Define your target audience and barriers to change, then develop messages and choose channels to reach your audience</div>
  </div>
  <%= render 'c4d/category_index' %>
  <%= render 'footer/index' %>
</div>