<%= render 'dashboard/nav' %>
<div id="c4d_selection_page" class='col-md-12'>
  <div class='col-md-12'>
    <div id='c4d_image_div'><img src="/assets/headers/tools-crop-Waseem-Niaz.jpg" class='img-responsive'></div>
    <div id='c4d_image_title' class='col-md-7'>Tools</div>
    <div id='c4d_image_description' class='col-md-7'>GET TO KNOW THE PROBLEM THE RISK GROUPS AND THEIR PERCEPTIONS, AND HOW TO USE RESEARCH TO REFINE OBJECTIVES</div>
  </div>
  <%= render 'c4d/category_index' %>
  <%= render 'footer/index' %>
</div>