<%= render 'dashboard/nav' %>
<div id="c4d_selection_page">
  <div class='col-md-12'>
    <div id='c4d_image_title' class='col-md-7'>Tools</div>
    <div id='c4d_image_description' class='col-md-7'>GET TO KNOW THE PROBLEM THE RISK GROUPS AND THEIR PERCEPTIONS, AND HOW TO USE RESEARCH TO REFINE OBJECTIVES</div>
  </div>
  <%= render 'c4d/category_index' %>
</div>