<%= render 'dashboard/nav' %>
<div id="c4d_selection_page" class='col-md-12'>
  <div class='col-md-12'>
    <div id='c4d_image_div'><img src="/assets/headers/Understand-crop-Malik-Shafiq.jpg" class='img-responsive'></div>
    <div id='c4d_image_title' class='col-md-7'>Understand</div>
    <div id='c4d_image_description' class='col-md-7'>Get to know the problem, the risk groups and their perceptions, and how to use research to refine objectives</div>
  </div>
  <%= render 'c4d/category_index' %>
  <%= render 'footer/index' %>
</div>