<p>Please follow the link below to reset your password for poliok.it.</p>
<p>
  Click <a href='https://poliok.it/forgot_passwords/<%= @forgot_pwd.user_key %>' target='_blank'>here</a> to reset your password.
</p>
<p>
  If this email was sent in error or seems suspicious please contact us through the contact option at <a href='https://poliok.it/' target='_blank'>poliok.it</a> website.
</p>