<p>Please follow the link below to reset your password for poliok.it.</p>
<p>
  Click <a href='http://poliok.it/forgot_passwords/<%= @forgot_pwd.user_key %>'>here</a> to reset your password.
</p>
<p>
  If this email was sent in error or seems suspicious please contact <a href='mailto:rhizometk@gmail.com'>rhizometk@gmail.com</a>
</p>