#sop_overview_content table,
#sop_overview_content p,
#sop_overview_content ul,
#c4d_article_content table,
#c4d_article_content p,
#c4d_article_content ul,
#sop_article_content table,
#sop_article_content p,
#sop_article_content ul {
    margin-bottom: 1em;
}
#sop_overview_content ul li p,
#sop_article_content ul li p,
#c4d_article_content ul li p{
  margin-bottom:0px;
}
#sop_overview_content p {
  font-size:14px !important;
}

#sop_overview_content h1,
#sop_overview_content h2,
#sop_article_content h1,
#sop_article_content h2,
#c4d_article_content h1,
#c4d_article_content h2{
  font-family: 'adelle' !important;
}
#sop_overview_content h3,
#sop_overview_content h4,
#sop_overview_content h5,
#sop_overview_content h6,
#sop_article_content h3,
#sop_article_content h4,
#sop_article_content h5,
#sop_article_content h6,
#c4d_article_content h3,
#c4d_article_content h4,
#c4d_article_content h5,
#c4d_article_content h6{
  font-family: 'proxima-nova' !imporatnt;
}