.c4d_grid_add,
.c4d_grid_check {
  color:white;
}
#c4d_show_add,
#c4d_show_check {
  top:0px;
  right:0px;
  position:absolute;
  color:white;
}
#c4d_show_references a {
  width:100%;
  color:black;
  text-decoration:none;
  margin-bottom: 5px;
}
#c4d_show_references a img {
  width:auto;
  height:45px;
}
#c4d_article_icon {
  width:45%;
  height:45%;
}
#c4d_article_show {
  display: table-cell;
  background: #FFFFFF;
}
#c4d_article_show_info_column{
  height:100%;
  margin:0;
  padding:0;
  background: #e5e5e5;
  height:100%;
}
#c4d_article_show_header {
  color: white;
  border: 1px solid white;
  font-family: 'proxima-nova' !important;
  font-weight: bold;
}
#c4d_category_and_article_title {
  font-size:15px !important;
  font-family: 'proxima-nova';
  padding-top:8px;
  padding-bottom:8px;
}
#c4d_modal_close_icon {
  font-size:75%;
}
#c4d_close_icon {
  position: absolute;
  top:8px;
  right:25px;
}
#c4d_close_icon a {
  font-size:12px;
  color: white;
}
.col-md-9 {
  padding: 0;
}
#related_topics_header {
  font-weight: bold;
  color: black;
  margin-bottom:5px;
}

/*c4d article modal show*/
#c4d_article_show_modal {
  position:absolute;
  top: 10px;
}
#c4d_article_show_modal .header,
#c4d_article_show_modal .content {
  padding:0;
  margin:0;
  border:0;
}
#c4d_article_content {
  padding:10px;
  padding-top:35px;
}
#c4d_add_to_toolkit_text {
  font-weight:bold;
  position:absolute;
  right:14px;
  top:7px;
  height:20px;
  width:140px;
}
#c4d_article_show_modal #c4d_show_add,
#c4d_article_show_modal #c4d_show_check {
  left: auto;
  top: 0px;
  right: 0px;
  color: black;
  font-size:80%;
}
.c4d_email_icon {
  font-size:120%;
  position:absolute;
  top:5px;
  right:200px;
}
.c4d_print_icon {
  font-size:120%;
  position:absolute;
  top:5px;
  right:170px;
}
#c4d_print_icon_link,
#c4d_email_icon_link {
  color: black;
}
#cgi_c4d_email_icon_link,
#cgi_c4d_print_icon_link {
  color: black;
}

/* cgi style */
#cgi_c4d_article_show_info_column_content {
  background-color: #e5e5e5;
  height:100%;
  min-height:100%;
}
#cgi_show_info_column_content_links {
  position:absolute;
  top:30px;
  padding:15px;
  background-color: #e5e5e5;
  width:100%;
}
#cgi_c4d_article_all_content {
  background-color: #e5e5e5;
}
#cgi_c4d_article_show_header {
  color: white;
}
#cgi_related_topics_header {
  position:relative;
  left:25px;
}
#cgi_c4d_article_show_table,
#cgi_c4d_article_show {
  height:100%;
  min-height: 100%;
}
#cgi_c4d_article_show {
  padding:10px;
  padding-top:25px;
  background: white;
}
.black_text a {
  color:black;
}
#back_to_c4d_link {
  position:absolute;
  top:30px;
  right: 6px;
}
#multimedia_header {
  margin-top:5px;
  margin-bottom:5px;
}
#related_topic_link_div {
  opacity:.6;
  border-bottom:1px solid rgba(0,0,0, 0.2);
}
#related_topic_link_div div a {
  color:black;
}

#related_topic_link_div div a:visited {
  color: black !important;
  opacity: 1 !important;
}
#related_topic_link_div i {
  float:right;
}
#c4d_article_show_info_column_content {
  padding:15px;
}
#c4d_article_content,
#sop_article_content {
  font-family: 'proxima-nova';
}
#c4d_show_references {
  margin-top: 10px;
}
#cgi_reference_link_pdf_icon {
  height:30px;
  width:auto;
}
#cgi_c4d_show_references a {
  color:black;
  text-decoration: none;
}
#cgi_related_topics_div #related_topics_header {
  font-family:'proxima-nova';
  font-size: 17px !important;
}
#cgi_related_topics_div {
  margin-bottom:15px;
}
#cgi_references_header {
  font-family:'proxima-nova';
  font-size: 17px !important;
  font-weight: bold;
  margin-bottom:5px;
}
#cgi_reference_link_div {
  font-family:'proxima-nova';
  font-size: 19px !important;
}
#cgi_c4d_article_show_page,
#cgi_c4d_article_all_content {
  height:100%;
}
.tools_reference_link_pdf_icon {
  margin-right:10px;
  margin-bottom:10px;
}
.tools_reference_link_description {
  padding-left: 8px;
  vertical-align: top;
}
.tools_reference_link_description a {
  text-decoration: none !important;
  color:black;
}
.tools_reference_link_description a:hover,
.tools_reference_link_description a:visited,
.tools_reference_link_description a:active {
  text-decoration: none  !important;
  color:black;
}
#current_article_div {
  color:blue;
}
