.c4d_grid_add,
.c4d_grid_check {
  top:0px;
  right:10px;
  position:absolute;
  color:white;
}
#c4d_show_add,
#c4d_show_check {
  top:5px;
  left:20px;
  position:absolute;
  color:white;
}
#c4d_article_icon {
  width:45%;
  height:45%;
}
#c4d_article_show {
  display: table-cell;
  background: #FFFFFF;
}
#c4d_article_show_table {
  display: table;
}
#c4d_article_show_info_column.col-md-3,
#c4d_article_show_page .col-md-9 {
  margin:0;
  padding:0;
}
#c4d_article_show_info_column {
  background: #e5e5e5;
  display: table;
}
#c4d_article_show_info_column_content {
  display: table-cell;
}
#c4d_article_show_header {
  color: white;
  font-family: 'proxima-nova';
  font-weight: bold;
  border-top:1px white solid;
  border-bottom:2px white solid;
}
#c4d_category_and_article_title {
  padding-top: 17px;
  font-size:25px;
  font-family: 'proxima-nova';
}
#c4d_close_icon {
  position: relative;
  bottom: 17px;
  right:20px;
}
#c4d_close_icon a {
  color: white;
}
.col-md-9 {
  padding: 0;
}
#c4d_add_to_toolkit_text {
  padding-top: 5px;
  height:30px;
  color: white;
  background: grey;
}
#related_topics_list {
  padding:5px;
  padding-left: 25px;
}