.button-group:after {
  content: '';
  display: block;
  clear: both;
}
.button-group.c4d-filters-button-group .col-md-3 {
  background: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1px;
  padding-left: 1px;
}
.button-group.c4d-filters-button-group {
  border-top: 1px white solid;
}
.c4d-filters-button-group {
  padding-bottom: 1px;
}
.c4d-filters-button-group button {
  width:100%;
  height: 50px;
  background-color: transparent;
}
.c4d_grid_article_icon {
  float: right;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
#c4d_selection_page {
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#252F38, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#252F38, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#252F38, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#252F38, #000000); /* Standard syntax */
  min-height: 100%;
  color:white;
}
#c4d_category_div {
  padding:10px;
  height:200px;
  border: 1px solid white;
}
#c4d_right_angle_div {
  right:6px;
  top:30%;
}
#c4d_category_title_div,
#c4d_right_angle_div {
  position:absolute;
  height:33%;
  font-weight:bold;
}
#c4d_category_title_div,
#c4d_category_description_div {
  padding-left:8px;
}
#c4d_category_description_div {
  position: absolute;
  bottom:10px;
  opacity:0.5;
}
#c4d_selection_page a {
  color:white;
}
#c4d_subcategory_accordion {
  border-radius:0;
  box-shadow:0;
  border:1px solid white;
  width:100%;
}
#c4d_subcategory_accordion .title {
  color:white;
}
#c4d_subcategory_title_div i {
  font-size:200%;
}
.c4d_article_item {
  position:relative;
  height:50px;
  width:180px;
  border:1px solid white;
  padding:5px;
}
#c4d_subcategory_accordion .content.active {
  width:100%;
}
#c4d_subcategory_accordion .title.transition.visible {
  width:100%;
}
.c4d_grid_add i,
.c4d_grid_check i{
  color:black;
}
.c4d_grid_add,
.c4d_grid_check {
  position:absolute;
  top:0px;
  right:0px;
}
#c4d_category_title_div,
#c4d_image_title {
  font-family:'adelle' !important;
  font-size: 28px !important;
  color:white;
  line-height: 39px;
  font-weight: bold;
}
#c4d_category_description_div,
#c4d_image_description {
  font-family: 'proxima-nova' !important;
  color:white;
  font-size:15px !important;
  line-height: 18px;
}
#c4d_subcategory_title_div {
  font-size:18px;
  font-weight:bold;
  font-family: 'adelle' !important;
  line-height:20px;
}
#c4d_grid_tile_title a {
  font-size: 15px;
  font-family: 'proxima-nova' !important;
  line-height: 18px;
  font-weight: normal !important;
}
.rotate_icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#c4d_subcategory_accordian_icon {
  height:48px;
  margin-left:35px;
  margin-right:15px;
}