.CMS_c4d_article_form_div {
  width:98%;
  position: relative;
  top:10%;
  margin-bottom:2%;
  margin-top:1%;
}
#CMS_reference_link_table,
#CMS_c4d_articles_table {
  width:99%;
  position: relative;
  right:2px;
  margin-top:1%;
  margin-bottom:2%;
}
#CMS_c4d_article_create_form .field {
  width:95%;
}
.CMS_c4d_article_form_div .field {
  width:95%;
}