.CMS_sop_article_form_div {
  width:95%;
  position: relative;
  top:10%;
  right:2px;
  margin-bottom:2%;
  margin-top:1%;
}
#CMS_sop_articles_table {
  width:99%;
  position: relative;
  margin-top:1%;
  right:2px;
  margin-bottom:2%;
}
#CMS_sop_article_create_form .field {
  width:95%;
}
.CMS_sop_article_form_div .field {
  width:95%;
}