#gpei_footer_overview_logo_div #overview_footer_img,
#gpei_footer_logo_div #footer_img {
  position: relative;
  margin:0 auto;
  width:355px;
  height:50px;
}
#gpei_footer_logo_div {
  padding-top:15px;
}