#gpei_footer_overview_logo_div #overview_footer_img,
#gpei_footer_logo_div #footer_img {
  position: relative;
  margin:0 auto;
  width:355px;
  height:50px;
}
#footer_img img {
  opacity: .5;
}
#gpei_footer_logo_div {
  position:absolute;
  width:80%;
  bottom:10px;
}