#gpei_footer_overview_logo_div #overview_footer_img,
#gpei_footer_logo_div #footer_img {
  position: relative;
  margin:0 auto;
  width:250px;
  height:auto;
}
#footer_legal_div a,
#footer_img img {
  opacity: .5;
}
#legal_terms_div,
#footer_legal_div a {
  color:white;
  font-family: 'proxima-nova' !important;
  font-size:12px;
}
#gpei_footer_logo_div {
  position:absolute;
  width:80%;
  bottom:10px;
}