#library {
  padding-left:10%;
  padding-right:10%;
  min-height:100%;
  font-family:'proxima-nova' !important;
}
#library_logo {
  color:white;
  background-color:#CC9555;
}
#library_logo_text {
  line-height:55px;
  position:absolute;
  left:15px;
  top:15px;
}
#library_content_search {
  position: absolute;
  bottom:15px;
  left:15px;
}
#library_content_search_input{
  background: url(/assets/icons/icon-search-grey-sml.png) no-repeat;
  background-position:right 5px center;
  background-color:white;
  color:black;
  font-family:'proxima-nova' !important;
}
#library_logo_text {
  font-family: 'Adelle' !important;
  font-size:48px;
}
#library_content_search_form input {
  padding:5px !important;
}
#library_content_search_results {
  border-top:2px black solid;
  background-color:white;
}
#nav_library_link.active{
  background-color:#CC9555;
  border-left:1px white solid;
  border-right:1px white solid;
  opacity:1;
}
#library_content_search_results_grid {
  padding-left:15px;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:15px;
}
.reference_search_result_item {
  margin-bottom:5px !important;
}
.reference_search_result_item_title a {
  color:black;
}
.reference_search_result_item_title {
  font-weight:bold;
}
.reference_search_result_item_description {
  opacity:0.5;
}
#reference_search_result_title_description_wrapper {
  padding-left:5px !important;
}
.reference_search_result_info_language {
  border-radius:25px;
  min-width:25px;
  text-align:center;
  padding-left:2px;
  padding-right:2px;
  background:black;
  color:white;
  display:inline-block;
}
.reference_search_result_is_c4d {
  color:#35848C;
}
.inline_block {
  display:inline-block;
}