.covid_left_position {
  margin-left: 25% !important;
}
#library_index_content_popular_content_grid_wrapper_header,
.tags_divider {
  border: 0 !important;
  cursor: default !important;
}
.tags_divider_padding {
  padding-top:30px;
}
#library_index_content_popular_content_grid_wrapper_header {
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.tag_cell {
  border-radius: 10px !important;
  margin-bottom:1% !important;
  font-size:14px !important;
  margin-right:1px;
  margin-left:1px;
}
#search_query_indicator_div_header {
  font-weight: bold !important;
}
#ref_search_count_span {
  padding-bottom: 15px;
}
#search_count_text_span {
  font-size:17px !important;
  line-height:20px !important;
}
#search_count_span {
  color:#f4cb66;
  line-height: 17px;
}
.search_query_indicator_div {
  margin-top:5px !important;
  margin-left:5px !important;
}
.notTagsCell {
  margin-left:3% !important;
  margin-right:4% !important;
  margin-bottom:0.5% !important;
}
#library_browse_isotope_grid {
  padding-top:1%;
  width:100%;
}
.covid19_cell {
  background-color: #CC9555 !important;
  margin-left: 34% !important;
}
.covid19_cell:hover {
  color: white;
}
.library_browse_grid_cell {
  line-height: 55px;
  padding:3px;
  padding-right:15px;
  padding-left:15px;
  white-space: nowrap;
  text-align: center;
  font-size:22px;
  font-weight:bold;
  cursor: pointer;
  border:2px groove;
  border-radius: 5px;
  margin-left:12px;
}
#library_browse_clear_all {
  cursor: pointer;
}
.c4d_related_cell {
  color:black;
  background:rgba(53, 132, 140, 0.8) !important;
}
.reference_download_tracker:hover {
  color:blue !important;
}
.c4d_related_cell:hover {
  color:white;
  background-color:#35848C !important;
}
.widthFifty {
  width:43% !important;
}
.marginLeft {
  margin-left: 4% !important;
}
#library_search_reference_link_related_topics {
  padding:5px;
}
.sop_related_cell {
  color:black;
  background: #8D3733 !important;
}
.sop_related_cell:hover {
  color:white;
  background-color:#904941 !important;
}
.tags_related_cell {
  color:black;
  line-height:40px !important;
  background: #6398CF !important;
}
.tags_related_cell:hover {
  color:white;
  background-color:#1399DE !important;
}
#library {
  padding-left:10%;
  padding-right:10%;
  min-height:100%;
  font-family:'proxima-nova' !important;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#252F38, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#252F38, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#252F38, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#252F38, #000000); /* Standard syntax */
}
#library_logo {
  color:white;
  background-color:#CC9555;
}
#library_logo_text a {
  color: white;
  text-decoration: none;
}
#library_logo_text {
  position:absolute;
  left:15px;
  top:15px;
}
#library_start_button {
  font-size: initial !important;
  background-color: initial !important;
  background: initial !important;
  line-height: 18px;
}
#library_content_search {
  position: absolute;
  bottom:20px;
  left:15px;
}
#library_browse_indicator_span {
  font-size: 22px;
  color:#A37743 !important;
}
.browse_paginator_page_numbers {
  padding-left:5px;
  padding-right:5px;
}
#library_content_search_form #search_button_library {
  background-color: #CC9555;
  color: black !important;
}
#library_content_search_input {
  background: url(/assets/icons/icon-search-grey-sml.png) no-repeat;
  background-position:right 5px center;
  background-color:#DCDCDC;
  color:black;
  width:200%;
  font-family:'proxima-nova' !important;
  border-bottom: 2px solid orange;
  margin-right:5px;
}

#search_button_library {
  padding-left:5px;
  cursor: pointer;
}
.library_content_search_input_no_text {
  background: url(/assets/icons/icon-search-grey-sml.png) no-repeat !important;
  background-position:right 5px center !important;
  background-color:white !important;
  color:black !important;
  font-family:'proxima-nova' !important;
}

.library_content_search_input_has_text {
  background: url(/assets/icons/remove-check.png) no-repeat !important;
  background-position:right 5px center !important;
  background-color:white !important;
  color:black !important;
  font-family:'proxima-nova' !important;
}

#library_content_search_form input {
  padding:5px !important;
}
#library_content_search_results {
  background-color:white;
  margin-bottom:30px;
  padding-left:15px;
  padding-right:15px;
}
#nav_library_link.active{
  background-color:#CC9555;
  border-left:1px white solid;
  border-right:1px white solid;
  opacity:1;
}
#library_content_search_results_grid {
  padding-top:10px;
  padding-bottom:10px;
}
.reference_search_result_item {
  margin-bottom:5px !important;
}
.reference_search_result_item_title a {
  color:black;
}
.reference_search_result_item_title {
  font-weight:bold;
}
.reference_search_result_item_description {
  opacity:0.5;
}
#reference_search_result_title_description_wrapper {
  padding-left:5px !important;
}
.like_by_user_div {
  border-radius:25px;
  min-width:36px;
  text-align:center;
  padding-left:3px;
  padding-right:3px;
  background:#CDAF95 !important;
  color:white !important;
}
.like_by_user_div  * {
  background:#CDAF95 !important;
}

.reference_search_result_info_language {
  border-radius:25px;
  min-width:36px;
  text-align:center;
  background:black !important;
  color:white !important;
  display:inline-block;
  padding-left:5px;
  padding-top:0.5px;
  padding-right:5px;
}
.reference_search_result_is_c4d {
  color:#35848C;
}
.inline_block {
  display:inline-block;
}
.reference_search_result_is_sop {
  color:#8D3733;
}
.reference_search_result_is_c4d,
.reference_search_result_is_sop {
  position: relative;
  right:0px;
}
.library_reference_count_wrapper_initial {
  cursor: pointer;
}
#library_reference_count_wrapper,
#library_reference_count_wrapper #search_count_span,
#library_reference_count_wrapper #search_count_text_span {
  font-size: 20px !important;
  font-weight: bold !important;
}
#search_parameter_select_dropdown {
  float: right;
}
#search_parameter_select_dropdown select {
  margin-top:5px;
  width: auto;
  background-color: #CC9A60;
  color: black !important;
}
.boldtext {
  font-weight: bold;
}
#library_content_search_header_text {
  margin-bottom:10px;
}
.grid_filter_select {
  margin:5px;
  font-size: 18px;
}
#library_search_select option {
  background-color: #CC9A60;
}
#library_search_select {
  display: none;
}
#search_grid_select_wrapper select:first-child {
  margin-left:13% !important;
}
#search_grid_select_wrapper select{
  background-color: #A37743 !important;
  color: black !important;
}
.option_background_color {
  background-color: #A37743 !important;
}

.div_border_underline {
  margin-top:5px !important;
  height:5px;
  opacity: 0.3;
  background-color: black !important;
}
#search_filter_display_div .padding_left_2px,
#browse_filter_display_div .padding_left_2px {
  border-bottom:1px solid black;
}
#library_browse_clear_all,
#library_index_content_popular_header_text {
  padding-top:10px;
}
#library_index_content_popular_header_text {
  display: none;
}
#library_browse_clear_all {
  font-family: 'Adelle' !important;
  font-weight:bold;
  font-size:14px;
  line-height:14px;
}
#library_content_search_header_text,
#library_index_content_popular_header_text,
#library_index_content_featured_header_text {
  font-family: 'Adelle' !important;
  font-weight:bold;
  font-size:24px;
  line-height:24px;
  padding-left:5px;
}
#library_browse_indicator_span {
  margin-left:5px;
}
#search_paginator_div {
  margin-top:10px;
}
#library_index_content_search_results_header_text {
  font-family: 'Adelle' !important;
  font-weight:bold;
  font-size:24px;
  line-height:32px;
  padding-left:5px;
  margin-top:10px;
}
#library_index_content_featured_header_text {
  width:14%;
}
#library_index_content_wrapper,
#library_index_content_wrapper *{
  background-color: white;
}
#library_index_content_wrapper {
  position: relative;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
}
#search_filter_row *,
#browse_filter_row * {
  color: black;
}
.library_search_pagination_indicators,
.library_browse_pagination_indicators {
  display:inline-block;
  min-width:21px;
  text-align: center;
  opacity:0.3;
  font-family: 'proxima-nova' !important;
  position:relative;
  bottom:4px;
  line-height:18px;
  margin-left:3px;
}

.library_featured_pagination_indicators {
  display:inline-block;
  border:1px black solid;
  border-radius:50px;
  min-width:21px;
  text-align: center;
  opacity:0.3;
  font-family: 'proxima-nova' !important;
  position:relative;
  bottom:4px;
  line-height:18px;
  margin-left:3px;
}
.library_browse_pagination_indicators a,
.library_search_pagination_indicators a,
.library_featured_pagination_indicators a {
  color: black;
}

.library_featured_pagination_indicators a {
  line-height:12px;
  display:inline-block;
}
.library_browse_pagination_indicators.active,
.library_search_pagination_indicators.active,
.library_featured_pagination_indicators.active {
  background-color: black !important;
  opacity:1 !important;
}
.library_browse_pagination_indicators.active a,
.library_search_pagination_indicators.active a,
.library_featured_pagination_indicators.active a {
  background-color: black !important;
  color:white !important;
}
#search_paginator_left_angle,
#search_paginator_right_angle,
#featured_pagination_right_angle_div,
#featured_pagination_left_angle_div {
  display: inline-block;
  position: relative;
}
#search_paginator_left_angle{
  right:-1px;
}
#browse_paginator_right_angle,
#browse_paginator_left_angle,
#featured_pagination_right_angle_div,
#featured_pagination_left_angle_div {
  top:1px;
}
#browse_paginator_right_angle,
#browse_paginator_left_angle {
  position: relative;
}

#featured_pagination_left_angle_div {
  right:5px;
}
#search_paginator_right_angle{
  left:5px;
}

#featured_pagination_right_angle_div {
  left:7px;
}
#browse_paginator_left_angle a,
#browse_paginator_right_angle a,
#search_paginator_left_angle a,
#search_paginator_right_angle a,
#featured_pagination_left_angle_div a,
#featured_pagination_right_angle_div a {
  color:black;
  opacity:0.3;
}
#library_index_content_featured_content_grid {
  min-height:100%;
}
#library_index_content_featured_content_grid {
  margin-top: 16px;
}
#featured_content_item_image {
  height:65%;
}
#search_content_title_text,
#popular_content_title_text{
  font-family: 'proxima-nova' !important;
  font-weight:bold;
  margin-bottom:4px;
  color:black;
}
#featured_content_title_text a{
  font-family: 'proxima-nova' !important;
  font-size:20px;
  font-weight:bold;
  color:black;
}
#featured_content_title_text {
  margin-bottom:10px;
}
#search_content_title_text {
  font-size:16px !important;
}
#search_content_title_text,
#popular_content_title_text {
  padding-left: 0px !important;
  font-size:16px !important;
}
.border_left {
  border-left:1px solid;
}
.bold_text {
  font-weight:bold;
}
#library_reference_link_description,
#library_search_reference_link_description {
  font-size:16px !important;
  color:#999999;
}
#library_search_reference_link_description {
  padding-right:3px;
}
#library_search_reference_link_description,
#library_reference_link_description {
  margin-top:4px;
}
.library_like_icon{
  height:12px;
}
.library_grid_icon{
  height:15px;
}
#library_like_div {
  margin-left:8px;
}
#search_content_item_info_wrapper,
#popular_content_item_info_wrapper,
#featured_content_item_info_wrapper {
  padding-left:12px !important;
}
.library_like_img {
  position: relative;
  top:-1.5px;
  padding-left:2px;
  line-height:0.75em!important;
  border-radius:25px;
}
.library_download_img {
  position: relative;
  top:-2px;
}
#search_filter_row,
#browse_filter_row {
  margin-bottom:7px;
  margin-top:10px;
  padding-left:15px;
  padding-right:15px;
}
.subcategory_content_grid_cell,
.content_grid_cell {
  width:50%;
  padding:30px !important;
  font-size: 24px !important;
  font-weight:bold !important;
}
.subcategory_content_grid_cell,
.content_grid_cell * {
  text-align: center;
}
.subcategory_content_grid_cell:hover,
.content_grid_cell:hover {
  cursor: pointer;
}
#c4d_content_grid_cell_label,
#c4d_content_grid_cell_filters *,
#sop_content_grid_cell_label,
#sop_content_grid_cell_filters *,
#tags_content_grid_cell_label,
#tags_content_grid_cell_filters *{
  background:inherit
}
#c4d_content_grid_cell:hover,
#sop_content_grid_cell:hover,
#tags_content_grid_cell:hover {
  color:white;
}
#c4d_content_grid_cell,
#sop_content_grid_cell,
#tags_content_grid_cell {
  border-radius:5px;
  border-right: 1px groove;
  border-left: 1px groove;
  border-top: 1px groove;
  border-bottom: 1px groove;
}
.font_blue {
  color:blue;
}
.font_red {
  color:blue;
}
.font_blue {
  color:blue;
}

.counter_indicator_text_div {
  opacity: 0.3;
}
#library_index_content_popular_downloads {
  background: white;
}
.search_content_item {
  margin-top:16px !important;
}
.margin_top {
  margin-top:24px !important;
}
.margin_bottom {
  margin-bottom:16px !important;
}
.opacity_light {
  opacity: 0.05;
}
#search_result_index {
  font-size:16px;
}
.one_px_border_bottom {
  min-height:1px !important;
  margin-top:24px !important;
  background-color: #CCCCCC;
}
#search_content_item_image,
#featured_content_item_image,
#popular_content_item_image {
  border:1px solid #CCCCCC;
}
#popular_content_item_image {
  width:125px;
  height:125px;
}
#search_content_item_image {
  width:80px;
  height:100px;
}
a.max_width {
  display: block;
  border-radius:25px;
}
#library_index_content_popular_content_grid_wrapper {
  padding-bottom:16px;
}
#download_related_topics_div {
  padding-left:36px;
  display: inline-block;
  width: auto;
  padding-right: 12px;
}
#download_related_topics_div,
.langauage_indicator_wrapper {
  font-size:13px !important;
}
#like_and_download_wrapper {
  display: inline-block;
  width: auto;
}
.langauage_indicator_wrapper a {
  margin-right:12px;
  color: black;
}
#popular_content_title_text a {
  color: black;
}
#search_content_title_text a {
  color:black;
}
#library_show_reference_links {
  display: none;
}
.grid-sizer {
  width:15%;
}
#library_content_cell_progress_spinner {
  background: white;
  padding-top:15px;
  color: black;
  display: none;
  height:65px;
}
#library_content_cell_progress_spinner.show_div_force {
  display: block;
}
#library_content_modal .content {
  padding-top:0px;
}
.library_content_modal_close {
  font-size:14px;
}
#library_content_modal .content {
  padding-bottom:0px !important;
}
#library_content_modal .header {
  line-height:1em;
  min-height:50px;
}
#library_content_modal {
  width:80% !important;
  overflow:auto;
}
#reference_link_show_modal {
  width:80% !important;
  overflow:auto;
}
#reference_link_show_close_div {
  position:absolute;
  right:20px;
}
#reference_link_show_close_div a {
  cursor: pointer;
  color: black;
}
/**/
.liked_by_user_white_text {
  color:white;
}
.counter_indicator_text_div.liked_by_user_white_text{
  opacity:1 !important;
  border-radius:35px;
  line-height:1em;
}
#catalogue_wrapper {
  position:absolute;
  right:0px;
}
#library_index_content_featured_pagination *,
#browse_paginator_div *{
  display: inline-block;
}
.display_none {
  display: none !important;
}
#search_filter_dropdown_wrapper .ui.compact.menu,
#search_sort_wrapper .ui.compact.menu,
#browse_sort_wrapper .ui.compact.menu {
  border-radius:0 !important;
  border:0 !important;
}
#search_filter_dropdown_wrapper .ui.menu,
#search_sort_wrapper .ui.menu,
#browse_sort_wrapper .ui.menu{
  box-shadow: none !important;
}
#browse_sort_radio_div,
#search_sort_radio_div {
  width:150px;
}
#browse_sort_radio_div .ui.radio.checkbox,
#search_sort_radio_div .ui.radio.checkbox {
  margin-top:2px;
  margin-bottom:2px;
}
#browse_sort_radio_div .field,
#search_sort_radio_div .field {
  display:block;
  padding-left:10px;
  width:auto;
}
#sort_browsing_dropdown_header,
#browse_sort_radio_div,
#search_sort_radio_div {
  font-family:'proxima-nova' !important;
}
#search_sort_wrapper .ui.radio.checkbox label,
#browse_sort_wrapper .ui.radio.checkbox label{
  opacity:0.5 !important;
}
#browse_sort_radio_div:hover,
#search_sort_radio_div:hover,
#browse_sort_wrapper .ui.simple.dropdown.item:hover,
#search_sort_wrapper .ui.simple.dropdown.item:hover {
  border:1px solid grey;
}
#search_filter_dropdown_wrapper,
#search_selected_filters_display,
#search_sort_wrapper {
  margin-top:10px;
}
#search_sort_wrapper * {
  font-size:16px;
}
#search_filter_dropdown_wrapper {
  padding:0 !important;
}
#search_filter_dropdown_wrapper {
  padding-left:20px;
  margin-top:10px;
}
#search_filter_dropdown_wrapper {
  padding:1em 1em;
}
#search_filter_checkbox_div {
  width:100%;
}
#search_sort_radio_div *,
#search_filter_header {
  font-size:16px;
  font-family: 'proxima-nova';
}
#search_pagination_controls_wrapper {
  padding-left:15px;
  padding-bottom:15px;
}
#browse_bottom_pagination_control {
  padding-bottom:15px;
}
#search_filter_dropdown_menu,
#search_filter_dropdown_menu_item,
#browse_filter_dropdown_menu,
#browse_filter_dropdown_menu_item {
  width:100%;
}
#search_sort_wrapper {
  position:absolute;
  right:0px;
  top:-26px;
}
#browse_sort_wrapper {
  position:absolute;
  right:0px;
  top:-13px;
}
#search_sort_wrapper *,
#browse_sort_wrapper * {
  line-height:16px;
}
#search_sort_wrapper .ui.compact.menu .ui.simple.dropdown.item,
#browse_sort_wrapper .ui.compact.menu .ui.simple.dropdown.item {
  padding:0px;
}
.browse_header_text,
.browse_header_text i {
  color:#CC9555 !important;
}
#search_filter_dropdown_menu .item,
#browse_filter_dropdown_menu .item {
  padding:0px !important;
}
.search_filter_header,
.browse_filter_header {
  width:100%;
  padding-left:10px;
  padding-bottom:10px;
  padding-top:10px;
  color:white !important;
  background-color:#CC9555 !important;
  margin-bottom:5px;
}
.border_left_and_right {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.border_left_and_right_gold {
  border-left: 1px solid #CC9555;
  border-right: 1px solid #CC9555;
  height:100%;
}
#place_checkboxes, #language_checkboxes, #theme_checkboxes {
  padding-left:10px;
  padding-right:10px;
}
#library_content_search_results_grid,
#search_pagination_controls_wrapper {
  padding:0 !important;
}
#search_filter_display_div,
#browse_filter_display_div {
  position: absolute;
  left:21% !important;
}
#browse_filter_clear_all {
  padding-top:7px;
}

#browse_filter_clear_all a {
  border-right:1px solid rgba(204,149,85,1);
  padding-right:15px;
  color:black;
  opacity:0.3;
  font-style:italic;
  text-decoration: none;
}
#search_filter_clear_all a {
  border-left:1px solid rgba(204,149,85,1);
  padding-left:15px;
  padding-right:5px;
  color:black;
  opacity:0.3;
  font-style:italic;
  text-decoration: none;
}
.filter_header_text,
.filter_header_text i {
  color:#CC9555 !important;
}
.padding_left_2px {
  margin-left:3px;
}
#browse_filter_dropdown_parent {
  max-height:350px;
  overflow:hidden;
}

#filter_down_arrows,
#filter_up_arrows {
  font-size:24px;
  cursor: pointer;
}
.filter_label_count {
  opacity:0.3;
}