.white_text_black_bg,
.item.white_text_black_bg,
.text.white_text_black_bg,
.fa.fa-remove.white_text_black_bg,
#c4d_toolkit_list,
.fa.fa-caret-left.white_text_black_bg,
.left.menu.white_text_black_bg,
#sop_checklist_list,
#my_rhizome_dropdown_items,
.ui.pointing.dropdown.link.item.white_text_black_bg,
.ui.menu.white_text_black_bg,
#toolkit_dropdown,
#toolkit_dropdown .item
{
  background-color: black;
  color: white;
}
#sop_no_items_selected,
#c4d_no_items_selected {
  pointer-events:none;
}
#user_account_modal {
  position:relative;
  top:100px;
}
.ui.dropdown.user_dropdowns {
  width: auto;
  min-width: 0;
}
.field {
  width:250px;
}
#nav_bar_logo_div {
  text-align:center;
}
#user_create_form_first_column {
  margin-bottom: 30px
}
#sign_in_submit_button {
  margin-bottom: 20px;
  margin-top: 20px;
}
#sign_in_error_message, #register_user_text {
  color:black;
}
#nav_user_register {
  color:blue;
}

.navbar-header {
  background-color:black;
}
#nav_bar {
  position: relative;
  min-width:100%;
  min-height:48px;
  z-index:10;
  width:100%;
  background: black;
  font-family:'proxima-nova' !important;
}
#nav_default_buttons_div {
  max-width: 25%;
}
#nav_bar_logo_div {
  max-width:16.667%;
}
#c4d_nav_container {
  max-width:83.33%;
}

#toolkit_dropdown {
  letter-spacing: 1px;
  font-family: 'proxima-nova' !important;
  font-size:13px !important;
}
#c4d_nav_div div,
#c4d_plan_div div,
#c4d_act_div div,
#c4d_tools_div div,
#nav_bar_logo_div div,
#nav_contact_link div,
#toolkit_dropdown_div #nav_user_sign_in_div,
#toolkit_dropdown_div #toolkit_dropdown,
#nav_about_link div,
#sop_overview_button div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#c4d_plan_div,
#c4d_act_div,
#c4d_tools_div {
  letter-spacing: 1px;
  font-size:13px !important;
  font-weight: bold;
  font-family: 'proxima-nova' !important;
}
#sop_nav_button a,
#sop_what_to_do_nav_button a,
#sop_overview_button a,
#nav_contact_link a,
#nav_about_link a {
  color:white;
}
#sop_nav_button.active,
#sop_overview_button.active,
#sop_what_to_do_nav_button.active {
  border-left:1px solid white;
  border-right:1px solid white;
}
#c4d_nav_container a {
  color:white;
}
#c4d_nav_container {
  height:100%;
}
#nav_default_buttons_div {
}
#c4d_nav_container {
  max-height: 20%;
}
#sop_nav_div,
#c4d_nav_div {
  height:100%;
}
#c4d_plan_button,
#c4d_act_button,
#c4d_tools_button {
 text-decoration: none;
}
#c4d_nav_button.active {
  background: #35848C;
  border-left:1px solid white;
  border-right:1px solid white;
}
#c4d_understand_button.active,
#c4d_plan_button.active,
#c4d_act_button.active,
#c4d_tools_button.active {
  border-left:1px solid white;
  border-right:1px solid white;
}
#sop_checklist_list a:hover,
#c4d_toolkit_list a:hover,
#sop_checklist_list a:active,
#c4d_toolkit_list a:active,
#sop_checklist_list a:visited,
#c4d_toolkit_list a:visited {
  color:white;
}
/**/
/**/
/**/
/**/
nav {
  margin-bottom:0px !important;
  font-family:'proxima-nova' !important;
  border:0px !important;
}
nav .container {
  background-color:black;
}
#nav_bar_logo {
  max-height:100%;
}
#nav_bar_header {
  padding-left:30px;
  margin-right:20px;
}
#nav_bar_header a {
  padding:8px 8px;
}
.navbar .container {
  width:100%;
}
.navbar-header {
  height:100%;
}
#c4d_nav_button,
#sop_nav_button,
#c4d_understand_button,
#c4d_plan_button,
#c4d_act_button,
#c4d_tools_button,
#nav_contact_link,
#nav_user_sign_in,
#toolkit_dropdown,
#sop_overview_button,
#nav_about_link,
#sop_what_to_do_nav_button {
  letter-spacing:2px;
}
#c4d_nav_button,
#sop_nav_button {
  font-size:20px !important;
  font-weight: bold;
  font-family: 'proxima-nova' !important;
}
#c4d_understand_button,
#c4d_plan_button,
#c4d_act_button,
#c4d_tools_button,
#sop_overview_button,
#sop_what_to_do_nav_button {
  font-size:13px !important;
  font-weight: bold;
  font-family: 'proxima-nova' !important;
}
#nav_contact_link,
#nav_about_link,
#nav_user_sign_in,
#toolkit_dropdown {
  font-size:13px !important;
  font-family: 'proxima-nova' !important;
}

#c4d_article_show_modal,
#sop_article_show_modal {
  margin-top:70px !important;
}
#nav_user_sign_in_li {
  padding-right:28px;
}
#toolkit_dropdown {
  opacity: 0.7;
}
#c4d_understand_button,
#c4d_plan_button,
#c4d_act_button,
#c4d_tools_button,
#c4d_nav_button{
  color:white;
}
#toolkit_dropdown_li {
  padding-top:15px;
  padding-left:10px;
  padding-right:46px;
}
#c4d_nav_button:not(.active):hover {
  background:#35848C !important;
  opacity:0.9;
}
#sop_nav_button a {
  background: #924941;
}
#c4d_nav_button {
  background: #35848C;
}
#sop_nav_button:not(.active):hover{
  background:#904941 !important;
  opacity:0.9;
}
#c4d_understand_button:not(.active):hover{
  background:#9BB234 !important;
  opacity:0.9;
}
#c4d_plan_button:not(.active):hover{
  background:#4263C2 !important;
  opacity:0.9;
}
#c4d_act_button:not(.active):hover{
  background:#2C9674 !important;
  opacity:0.9;
}
#c4d_tools_button:not(.active):hover{
  background:#35A3AE !important;
  opacity:0.9;
}
#sop_overview_button:not(.active):hover{
  background:#B74D43 !important;
  opacity:0.9;
}
#sop_what_to_do_nav_button:not(.active):hover {
  background:#8D3733 !important;
  opacity:0.9;
}
#homepage_feedback_form .field{
  width:100%;
}
#notification_item div {
  opacity:1.0 !important;
}
#nav_search_link img {
  opacity: .7
}
#nav_library_link img{
  opacity:.6;
}
#nav_search_link img:not(.active):hover,
#nav_library_link img:not(.active):hover {
  opacity:.3;
}
#article_search_modal{
  position:relative !important;
  top:200px !important;
}
#article_search_modal .header{
  font-family: 'Adelle' !important;
}
#article_search_modal .content {
  font-family: 'proxima-nova' !important;
}