.white_text_black_bg,
.item.white_text_black_bg,
.text.white_text_black_bg,
.fa.fa-remove.white_text_black_bg,
#c4d_toolkit_list,
.fa.fa-caret-left.white_text_black_bg,
.left.menu.white_text_black_bg,
#sop_checklist_list,
#my_rhizome_dropdown_items,
.ui.pointing.dropdown.link.item.white_text_black_bg,
.ui.menu.white_text_black_bg
{
  background-color: black;
  color: white;
}
.ui.menu.white_text_black_bg {

}
#sop_no_items_selected,
#c4d_no_items_selected {
  pointer-events:none;
}
#my_rhizome_dropdown {
  position: relative;
  top:8px;
  color: white;
  background-color:black;
  padding:0;
}
#nav_user_sign_in {
  font-size:95%;
}
#user_account_modal {
  position:relative;
  top:1px;
}
.ui.dropdown.user_dropdowns {
  width: auto;
  min-width: 0;
}
.ui.form .input_fields {
  width:20%;
}
#user_create_form_first_column {
  margin-bottom: 30px
}
#sign_in_submit_button {
  margin-bottom: 20px;
  margin-top: 20px;
}
#sign_in_error_message, #register_user_text {
  color:black;
}
#nav_user_register {
  color:blue;
}
#nav_bar_logo {
  position:relative;
  left:30px;
  top:10px;
  width:100%;
  height:100%;
}
#nav_bar {
  height:8%;
  position: fixed;
  width: 100%;
  background: black;
  z-index:10;
  padding-bottom: 60px;
}
#nav_contact_link,
#nav_about_link,
#nav_user_sign_in {
  position: relative;
  top:20px;
  font-size:14px;
}
#nav_contact_link a,
#nav_about_link a {
  color:white;
}
#nav_about_link {
  padding-left:2%;
}
#nav_contact_link {
  margin-right:0;
  padding-left:4%;
}
#my_rhizome_dropdown_items {
  z-index:5;
}