.row,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 15px;
}
body {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  color: #222;
}
.white_text {
  color:white;
}