.row,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin: 0;
  padding: 0;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: 'adelle' !important;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 15px;
}
body {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  color: #222;
}
.white_text {
  color:white;
}
p {
  -webkit-margin-before:0px;
  -webkit-margin-after:0px;
  margin: 0 0 0 0;
}
.ui.modal {
  border-radius:0 !important;
}
#landing_scroll_begin_text,
#landing_scroll_down_angle,
#landing_logo_text,
#nav_default_buttons_div,
#sop_landing_description_span,
#c4d_landing_description_span {
  opacity: 0.70;
}
#add_article_image,
#remove_article_image {
  height:25px;
  width:25px;
}
#gpei_footer_home_logo_div{
  position:absolute;
  bottom:20px;
  width:100%;
}
#gpei_footer_home_logo_div img {
  margin:0 auto;
  width:250px;
  height:auto;
  opacity: .5;
}
#reference_header_text_div {
  margin-bottom:5px;
}

@font-face {
   font-family: 'proxima-nova';
   src: url('/assets/ProximaNova-Regular.otf');
   font-family: 'adelle';
   src: url('/assets/Adelle_Reg.otf')
}