#sop_landing_image img{
}
* {
  box-sizing: border-box;
}

#sop_landing_wtdw_title,
#sop_landing_overview_title,
#sop_landing_image_title,
#sop_selection_image_container_title {
  font-family:'Adelle' !important;
  font-size: 37px !important;
  color:white;
  line-height: 39px;
}
#sop_selection_image_container_description,
#sop_landing_image_description {
  font-family: 'Proxima Nova' !important;
  font-size: 21px !important;
  height:100%;
  color:white;
  line-height: 23px;
  opacity:0.6;
}
#isotope_container a {
  color:white;
}
.grid_item {
  display:inline-block;
  margin: 0 auto;
  width: 20%;
  height: 220px;
  border: 1px solid white;
}
.grid_item a:hover {
  color:black;
}
.grid_item p {
  margin: 0;
}
#grid_item_icon_div {
  height:85px;
}
#sop_grid_cat_div {
  padding-left:3px;
}
#sop_grid_cat_image {
  position:relative;
  bottom:-3px;
}
#sop_grid_icon_img {
  max-height:30%;
  max-width:30%;
  position: absolute;
  right:5px;
  bottom:5px;
  visibility: hidden;
}
#sop_grid_responsible_office_image {
  margin-left:5px;
}
#sop_grid_subcat_and_responsible_office_div {
  position: absolute;
  bottom:5px;
  opacity:.6;
}
#grid_item_time_period img {
  margin-right:15px;
  margin-left:10px;
}
#grid_item_article_title {
  font-family: 'Adelle' !important;
  font-weight: bold;
  font-size:24px !important;
  line-height: 24px;
  height:70px;
  padding-top:5px;
  margin-left:10px;
}
#grid_item_icon_div {
  margin-left:10px;
}
#sop_grid_responsible_office,
#sop_grid_cat_div,
#grid_item_time_period {
  font-family: 'Proxima Nova' !important;
  font-size: 19px !important;
  padding-top:2px;
  line-height:19px;
}
.grid_add,
.grid_check {
  top:0px;
  right:0px;
  position:absolute;
  color:black;
}
#sop_selection_page {
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#252F38, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#252F38, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#252F38, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#252F38, #000000); /* Standard syntax */
  min-height:100%;
}


#sop_landing_description_div {
  height:200px;
  border:1px solid white;
}
#sop_landing_overview_description_div span,
#sop_landing_wtdw_description_div span {
  font-family: 'Proxima Nova' !important;
  font-size: 17px !important;
}
#sop_landing_wtdw_description_div {
  background-color:#8D3733;
  border-right:1px solid white;
  color:white;
  height:100%;
}
#sop_landing_overview_description_div {
  background-color:#B74D43;
  color:white;
  height:100%;
}
#sop_landing_wtdw_description,
#sop_landing_wtdw_arrow,
#sop_landing_wtdw_title {
  height:33%;
  font-weight: bold;
}
#sop_landing_wtdw_arrow {
  padding-right:10px;
}
#sop_landing_wtdw_title {
  font-size:250%;
  line-height:90%;
  padding-top:3%;
  padding-left:10px;
}
#sop_landing_wtdw_description {
  opacity:0.6;
  padding-left:10px;
}

#sop_landing_overview_description,
#sop_landing_overview_arrow,
#sop_landing_overview_title {
  height:33%;
  font-weight: bold;
}
#sop_landing_overview_arrow {
  padding-right:10px;
}
#sop_landing_overview_title {
  padding-top:3%;
  padding-left:10px;
}
#sop_landing_overview_description {
  opacity:0.6;
  padding-left:10px;
}
#sop_landing_overview_description_div a,
#sop_landing_wtdw_description_div a {
  color:white;
}