.sop_overview_content_list_items {
  position:relative;
  border-bottom:1px solid black;
  width:auto;
  opacity:.6;
  margin-bottom:5px;
  padding-bottom:5px;
}
#sop_overview_content_description_div{
  padding:15px;
  background-color:#e5e5e5;
  height:100%;
  font-family:'proxima-nova';
  font-size: 17px;
}
#sop_overview_content_div {
  height:100%;
  background-color:white;
}
#overview_content_list_item_angle_right {
  float: right;
  font-size:170%;
}
#sop_overview_image_title {
  font-family:'adelle' !important;
  font-size: 28px !important;
  color:white;
  line-height: 39px;
}
#sop_overview_image_description {
  font-family: 'proxima-nova' !important;
  font-size: 15px !important;
  height:100%;
  color:white;
  line-height: 17px;
}
#sop_overview_content_description_div  strong{
  font-family: 'proxima-nova' !important;
  font-size: 13px !important;
}
#sop_over_content_list_items_text {
  font-family: 'proxima-nova' !important;
  font-size: 14px !important;
}
#sop_overview_content {
  word-wrap: break-word;
  padding:10px;
  font-family: 'proxima-nova' !important;
  font-size: 17px !important;
}
#sop_over_content_list_items_text {
  font-size:19px !important;
  font-family: 'proxima-nova' !important;
  color:black;
}
#overview_content_list_item_angle_right {
  position: relative;
  top:0px;
}