#sop_filter_clear_all a {
  text-decoration: none !important;
  color:white;
}
#sop_filter_clear_all {
  text-align: center;
  position: relative;
  border-left: 0;
  overflow:hidden;
}
#sop_filter_clear_all, #selected_filters_output, #select_filter_text, #empty_space_sop_filter_header {
  background-color: #8D3733;
  border-color: #8D3733;
  border: solid;
  border-color: white;
  border-width: 0.5px;
  font-size: 100%;
}
#selected_filters_output {
  min-height: 22px;
}
#sop_grid_filter_row {
  background: white;
}
.sop_filter_header {
  background-color: #8D3733;
  color:white;
  font-weight: bold;
  border-style: double;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.sop_checkboxes {
  background-color: #D9E0DE;
}
.filter-item {
  margin-left: 5px;
  color: #6B7A83;
}
.filter-label {
  font-size: 80%;
  margin-left: 5px;
}

#filter_list {
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#select_filter_dropdown_menu {
  margin:0;
  padding:0;
  margin-top: 1px;
  padding-left: 1px;
  background-color: #8D3733;
  border: 0;
  font-size: 100%;
  padding-left: 5%;
}
#select_filter_dropdown_menu .fa.fa-filter,
#select_filter_header {
  color: white;
}
#select_filter_dropdown_menu .menu {
  padding:0;
  background-color:rgba(0, 0, 0, 0.0);
  box-shadow:0;
  border:0;
  -webkit-transition:opacity .1s ease;transition:opacity .1s ease;
}
#filter_output_label {
  padding:0;
  background-color: #8D3733;
  color: white;
}

.affix_top {
    top:0px;
    right:0;
    position:fixed;
}