#sop_filter_clear_all a {
  text-decoration: none !important;
  color:#B12924;
  padding-right:10px;
  font-style:italic;
  opacity: 0.4;
}
#sop_filter_clear_all {
  border-left: 0;
}
#selected_filters_output {
  background-color: white;
  min-height: 22px;
  padding-left:3px;
}
.sop_filter_header {
  background-color: #B12924;
  color:white;
  font-weight: bold;
  border-style: double;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.sop_checkboxes {
  background-color: #D9E0DE;
}
.filter-item {
  margin-left: 5px;
  color: #6B7A83;
}
.filter-label {
  font-size: 80%;
  margin-left: 5px;
}

#filter_list {
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#select_filter_dropdown_menu {
  margin:0;
  padding:0;
  border: 0;
  padding-left:5px;
}
#select_filter_dropdown_menu .menu {
  padding:0;
  background-color:rgba(0, 0, 0, 0.0);
  box-shadow:0;
  border:0;
  -webkit-transition:opacity .1s ease;transition:opacity .1s ease;
}
#filter_output_label {
  padding:0;
  color: #B12924;
  background: white;
}
#sop_grid_filter_row {
  background:white;
}
#sop_filter_line {
  background:#B12924;
  min-height:2px;
  width:98%;
  margin-left:1%;
  bottom:4px;
}
#select_filter_header,
#select_filter_dropdown_menu i {
  color:#B12924;
}
.affix_top {
    top:0px;
    right:0;
    position:fixed;
}