.sop_grid_content {
  height: 100%;
  position: absolute;
  top:15%;
}
* {
  box-sizing: border-box;
}
.grid_item {
  width: 20%;
  height: 200px;
  border: 1px solid white;
}
.grid_item p {
  margin: 0;
}
.grid_add,
.grid_check {
  top:5px;
  right:5px;
  position:absolute;
  color:black;
}
#sop_selection_page {
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#252F38, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#252F38, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#252F38, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#252F38, #000000); /* Standard syntax */
}
#sop_landing_wrapper_div {

}
