* {
  box-sizing: border-box;
}

.grid_item {
  width: 20%;
  height: 180px;
  border: 1px solid white;
}
.grid_item a:hover {
  color:black;
}
.grid_item p {
  margin: 0;
}
#grid_item_icon_div {
  height:85px;
  font-size:95%;
}
#sop_grid_cat_div {
  padding-left:3px;
}
#sop_grid_cat_image {
  position:relative;
  bottom:-3px;
}
#sop_grid_icon_img {
  position: absolute;
  right:5px;
  bottom:5px;
}
#sop_grid_responsible_office_image {
  margin-left:5px;
}
#sop_grid_subcat_and_responsible_office_div {
  position: absolute;
  bottom:5px;
}
#grid_item_time_period img {
  margin-right:15px;
  margin-left:10px;
}
#grid_item_article_title {
  height:70px;
  padding-top:5px;
  font-size:120%;
  padding-left:5px;
}
#grid_item_time_period {
  line-height: 25px
}
.grid_add,
.grid_check {
  top:5px;
  right:5px;
  position:absolute;
  color:black;
}
#sop_selection_page {
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#252F38, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#252F38, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#252F38, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#252F38, #000000); /* Standard syntax */
  min-height:100%;
}


#sop_landing_description_div {
  height:200px;
  border:1px solid white;
}
#sop_landing_overview_description_div,
#sop_landing_wtdw_description_div {
  height:100%;
}
#sop_landing_wtdw_description_div {
  background-color:#B12924;
  border-right:1px solid white;
  color:white;
}
#sop_landing_overview_description_div {
  background-color:#DF3C36;
  color:white;
}
#sop_landing_wtdw_description,
#sop_landing_wtdw_arrow,
#sop_landing_wtdw_title {
  height:33%;
  font-weight: bold;
}
#sop_landing_wtdw_arrow {
  font-size:400%;
  padding-right:10px;
}
#sop_landing_wtdw_title {
  font-size:250%;
  line-height:90%;
  padding-top:3%;
  padding-left:10px;
}
#sop_landing_wtdw_description {
  opacity:0.6;
  padding-left:10px;
}

#sop_landing_overview_description,
#sop_landing_overview_arrow,
#sop_landing_overview_title {
  height:33%;
  font-weight: bold;
}
#sop_landing_overview_arrow {
  font-size:400%;
  padding-right:10px;
}
#sop_landing_overview_title {
  font-size:250%;
  line-height:90%;
  padding-top:3%;
  padding-left:10px;
}
#sop_landing_overview_description {
  opacity:0.6;
  padding-left:10px;
}
#sop_landing_overview_description_div a,
#sop_landing_wtdw_description_div a {
  color:white;
}

#sop_content_description_div{
  padding:8px;
  background-color:#e5e5e5;
  height:100%;
}
#sop_overview_description_div {
  height:100%;
  padding:8px;
}
.sop_content_list_items {
  border-bottom:1px solid black;
  width:auto;
}
#overview_content_list_item_angle_right {
  text-align: right;
}
.sop_content_list_items span {
  float:right;
}