#select_filter_dropdown_menu ol,
#select_filter_dropdown_menu ul {
  margin-bottom:0 !important;
}
#select_filter_dropdown_menu .item {
  padding:0 !important;
}
#sop_filter_clear_all a {
  text-decoration: none !important;
  color:#B12924;
  padding-right:10px;
  font-style:italic;
  font-family: 'Proxima Nova' !important;
  font-size: 17px !important;
  opacity: 0.4;
}
#sop_filter_category_icon {
  height:20px;
  width:auto;
}
.sop_filter_header img {
  height:15px;
  width:auto;
  margin-right:5px;
}
#sop_filter_clear_all {
  border-left: 0;
}
#selected_filters_output {
  background-color: white;
  min-height: 22px;
  padding-left:3px;
}
.sop_filter_header {
  font-family:'Proxima Nova' !important;
  font-size:17px;
  background-color: #B12924;
  color:white;
  font-weight: bold;
  border-style: double;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.sop_checkboxes {
  background-color: white;
}
.filter-item {
  margin-left: 5px;
  color: #6B7A83;
}

#sop_filter_sop_time_label,
.filter-item span {
  font-family: 'Proxima Nova' !important;
  font-size:15px !important;
  line-height:17px;
}
#sop_filter_sop_time_label {
  padding-left:2px;
  color:white;
}
.filter-label {
  margin-left: 5px;
  color:black;
  width:70%;
}
.filter-label span {
  opacity: .55;
}

#filter_list {
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#select_filter_dropdown_menu {
  margin:0;
  padding:0;
  border: 0;
  padding-left:5px;
}
#select_filter_dropdown_menu .menu {
  padding:0;
  background-color:rgba(0, 0, 0, 0.0);
  box-shadow:0;
  border:0;
  -webkit-transition:opacity .1s ease;transition:opacity .1s ease;
}
#filter_output_label {
  padding:0;
  color: #B12924;
  background: white;
}
#sop_grid_filter_row {
  background:white;
}
#sop_filter_line {
  background:#B12924;
  min-height:2px;
  width:98%;
  margin-left:1%;
  bottom:4px;
}
#select_filter_header span {
  font-family: 'Proxima Nova' !important;
  font-size: 19px !important;
}
#select_filter_header,
#select_filter_dropdown_menu i {
  color:#B12924;
}
.affix_top {
    top:0px;
    right:0;
    position:fixed;
}