#sop_article_show_time_function_column,
#sop_article_show_responsible_column,
#sop_article_show_support_column {
  padding-right:10px;
  padding-left:5px;
  padding-bottom:5px;
  padding-top:5px;
}
#sop_article_show_time_column,
#sop_article_show_function_column {
  padding-left:2px;
}
#sop_article_show_time_column {
  margin-bottom:5px;
}
#sop_article_show_info_column_content {
  padding:4%;
}
#reference_link_row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom:10px;
  margin-bottom:10px;
}
#sop_article_show {
  color:black;
}
.reference_link_anchor {
  width:100%;
  color:black;
  text-decoration:none;
  margin-bottom: 5px;
}
.reference_link_pdf_icon {
  width:auto;
  height:45px;
  padding-bottom:3px;
}

#sop_article_show_subcategory_text {
  font-size: 20px;
  font-weight:bold;
}
#sop_article_show_article_title_text {
  font-size: 25px;
}
#sop_article_show_logo {
  margin: 0px;
  padding-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:2px solid white;
  padding-bottom: 10px
}
#sop_article_show_close_button {
  position:absolute;
  top:5px;
  left:5px;
  color:white;
}
#sop_article_icon {
  position:relative;
  top: 20px;
  left: 20px;
  height:60%;
  width:40%;
}
#sop_article_logo_row {
  height: 160px;
}
#sop_article_logo_text_div {
  position:absolute;
  bottom: 10px;
  right: 10px;
  text-align:right;
}
#sop_article_show_modal .header,
#sop_article_show_modal .content {
  margin:0;
  padding:0;
}
#sop_article_show_modal .header {
  border: 1px solid white;
}
#sop_close_icon {
  font-size:65%;
  position: relative;
  bottom: 25px;
  right:20px;
}
#sop_close_icon a {
  color:white;
}
#sop_category_and_article_title {
  padding-top:20px;
}
#sop_article_show_info_column {
  background-color:#e5e5e5;
}
#sop_article_show_info_column {
  height:100%;
  min-height:100%;
}
#sop_article_show_modal {
  position:absolute;
  top:10px;
}
#sop_article_content {
  padding:10px;
  padding-top:35px;
}
#sop_add_to_toolkit_text {
  font-weight:bold;
  position:absolute;
  right:10px;
  top:7px;
  height:20px;
  width:140px;
}
#sop_article_show_modal .sop_grid_add,
#sop_article_show_modal .sop_grid_check {
  position:absolute;
  left: auto;
  top: 7px;
  right: 5px;
  color: black;
  font-size:80%;
}
.sop_email_icon {
  position:absolute;
  top:5px;
  right:170px;
}
.sop_print_icon {
  position:absolute;
  top:5px;
  right:150px;
}
#sop_print_icon_link,
#sop_email_icon_link {
  color: black;
}
#sop_article_show_info_row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top:25px;
  margin-bottom:10px;
}
#sop_info_row_icons {
  width:10px;
  height:10px;
}
#sop_article_show_info_row_icon {
  height:45px;
  width:auto;
}
#c4d_show_references,
#related_topics_header,
#sop_show_references {
  font-family:'proxima-nova';
  font-size: 23px !important;
}
#reference_link_anchor_div a,
#related_topic_link_div div a,
#reference_link_anchor_div a {
  font-family:'proxima-nova';
  font-size: 19px !important;
}
#c4d_add_to_toolkit_text,
#sop_add_to_toolkit_text {
  font-family:'proxima-nova';
  font-size:12px;
}