.sop_overview_content_list_items {
  position:relative;
  border-bottom:1px solid black;
  width:auto;
  opacity:.6;
  margin-bottom:5px;
  padding-bottom:5px;
}
#sop_overview_content_description_div{
  padding:15px;
  background-color:#e5e5e5;
  height:100%;
  font-family:'proxima-nova';
  font-size: 17px;
}
#sop_overview_content_div {
  height:100%;
  background-color:white;
}
#overview_content_list_item_angle_right {
  float: right;
  font-size:170%;
}
#sop_overview_image_title {
  font-family:'adelle' !important;
  font-size: 37px !important;
  color:white;
  line-height: 39px;
}
#sop_overview_image_description {
  font-family: 'proxima-nova' !important;
  font-size: 21px !important;
  height:100%;
  color:white;
  line-height: 23px;
  opacity:0.6;
}
#sop_overview_content_description_div {
  font-family: 'proxima-nova';
  font-size: 17px;
}
#sop_over_content_list_items_text {
  font-family: 'proxima-nova';
  font-size: 19px;
}
#sop_overview_content {
  padding:5px;
  font-family: 'proxima-nova';
  font-size: 23px;
}