.terms_of_service_content {
  font-family: 'proxima-nova';
  font-size: 12.8px;
  line-height: normal;
  color: black;
  background-color:white;
  height:100%;
}
.terms_of_service_content a {
  color:#6589A4 !important;
}