#forgot_pw_user_update{
  margin-top:5%;
}
.white_txt {
  color:white;
}
.forgot_pwd {
  margin:50px;
  color:white;
}
.forgot_pwd_form {
  color: blue;
}
#reset_pwd_form button,
#forgot_pwd_form button,
#create_user_form button {
  margin-bottom:15px;
}
#reset_pwd_form button,
#forgot_pwd_form button {
  margin-top:15px;
}
#reset_pwd_error_div {
  margin-bottom: 15px;
  margin-top: 15px;
}
#user_register_or_forgot_pwd_div {
  padding-bottom:20px;
  padding-top:20px;
}
#forgot_password_link {
  color: blue;
}
#reset_pwd_spinner {
  position: absolute;
  top:50%;
  left:40%;
  visibility: hidden;
}
#reset_password_success_div {
  padding-bottom:20px;
}
